<html>

<head>
</head>

<body>
    <h1>DH News</h1>
    <h3>Postado em 21/07/2022</h3>
    <p>Lorem ipsum dolor sit amet <strong>consectetur</strong> adipisicing elit. Delectus odit optio esse quos eaque
        alias repellendus tempora quasi? Suscipit, saepe iusto! Sit tempora saepe, harum atque architecto ipsam eaque
        provident.</p>
    <img src="../public/img/destaque.webp" alt="Pessoas sentadas a mesa num saguão">
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
    <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, explicabo. Quo vero sequi voluptate aspernatur,
        voluptatem pariatur unde soluta! Deleniti facilis dignissimos ex qui totam. Amet maiores cupiditate eius ut.</p>
    <ol>
        <li>texto 1</li>
        <li>texto 2</li>
        <li>texto 3</li>
    </ol>
    <p>Mussum Ipsum, cacilds vidis litro abertis. Manduma pindureta quium dia nois paga.Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.Mé faiz elementum girarzis, nisi eros vermeio.</p>
    </section>
    <section>
    <h2>Mussum Ipsum, cacilds vidis litro abertis. Manduma pindureta quium dia nois paga.</h2>
    <p>Mussum Ipsum, cacilds vidis litro abertis. Manduma pindureta quium dia nois paga.Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.Praesent vel viverra nisi.</p>
    <p>Mussum Ipsum, cacilds vidis litro abertis. Manduma pindureta quium dia nois paga.Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque,</p>
    <p>Mussum Ipsum, cacilds vidis litro abertis. Manduma pindureta quium dia nois paga.Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.Mé faiz elementum girarzis, nisi eros vermeio</p>
    </section>
    <footer>
        <hr>
            <ul>
                <li>
                    <a href="https://facebook.com">
                        <img src="../public/img/facebook.svg" alt="Icone do Facebook">
                    </a>
                </li>
                <li>
                    <a href="https://instagram.com">
                        <img src="../public/img/instagram.svg" alt="Icone do Instagram">
                    </a>
                </li>
                <li>
                    <a href="https://linkedin.com">
                        <img src="../public/img/linkedin.svg" alt="Icone do Linkedim">
                    </a>
                </li>
                <li>
                    <a href="https://youtube.com">
                        <img src="../public/img/youtube.svg" alt="Icone do Youtube">
                    </a>
                </li>
            </ul>
    </footer>
</body>

</html>