<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.1/normalize.css">
    <title>DH News</title>
</head>
<body>
    <h1>DH News</h1>
    <h3>Postado em 25 de julho de 2022</h3>
    <p>Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá.Sapien in monti palavris qui num significa nadis i pareci latim.<strong>Atirei o pau no gatis</strong>, per gatis num morreus.Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.</p>
    <img src="../public/img/destaque.webp" alt="Pessoas trabalhando numa sala aberta">
    <section>
        <h2>Mussum Ipsum, cacilds vidis litro abertis.</h2>
        <p>Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá.Sapien in monti palavris qui num significa nadis i pareci latim.Atirei o pau no gatis, per gatis num morreus.Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.</p>
        <ol>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
        </ol>
        <p>Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá.Sapien in monti palavris qui num significa nadis i pareci latim.Atirei o pau no gatis, per gatis num morreus.Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget. Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá.Sapien in monti palavris qui num significa nadis i pareci latim.Atirei o pau no gatis, per gatis num morreus.Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.</p>
    </section>
    <section>
        <h2>Mussum Ipsum, cacilds vidis litro abertis.</h2>
        <p>Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá.Sapien in monti palavris qui num significa nadis i pareci latim.Atirei o pau no gatis, per gatis num morreus.Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.</p>
        <p>Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá.Sapien in monti palavris qui num significa nadis i pareci latim.Atirei o pau no gatis, per gatis num morreus.Praesent vel viverra nisi. <strong>Mauris aliquet nunc non turpis scelerisqu</strong>e, eget. Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá.Sapien in monti palavris qui num significa nadis i pareci latim.Atirei o pau no gatis, per gatis num morreus.Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.</p>
        <p>Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá.Sapien in monti palavris qui num significa nadis i pareci latim.Atirei o pau no gatis, per gatis num morreus.Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.</p>
    </section>
    <footer>
        <hr>
        <ul>
            <li>
                <a href="https://facebook.com">
                    <img src="../public/img/facebook.svg" alt="Icone do Facebook">
                </a>
            </li>
            <li>
                <a href="https://instagram.com">
                    <img src="../public/img/instagram.svg" alt="Icone do Instagram">
                </a>
            </li>
            <li>
                <a href="https://linkedin.com">
                    <img src="../public/img/linkedin.svg" alt="Icone do Linkedin">
                </a>
            </li>
            <li>
                <a href="https://youtube.com">
                    <img src="../public/img/youtube.svg" alt="Icone do Youtube">
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>