body{
    font-family: 'Rajdhani', sans-serif;
    margin: 100px 200px;
}

h1{
    color: #ec183f;
    font-weight: 700;
}

.destaque{
    width: 100%;
}

#lista{
    font-style: italic;
}

footer > a > img{
    width: 32px;
    text-align: center;
}

